<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>セレクト</title>
        <link rel = "stylesheet" href="./static/css/style.css">
    </head>
    <body>
        <header>
            <a href = "./"><h1>Puzzle Maker</h1></a>
            <nav>
                <ol>
                    <a href="./mypage"><li>マイページ</li></a>
                    {% if auth %}
                    <a href="./logout"><li>ログアウト</li></a>
                    {% else %}
                    <a href="./login"><li>ログイン</li></a>
                    {% endif %}                        
                </ol>
            </nav>
            <hr>
        </header>
        <main>
            <div class="container">
                <div class="selectFrame">
                    <h2 class="title">検索結果</h2>
                    {% for key in datas %}
                    <div class = "card" id = {{datas[key].id}}>
                        <h3>{{datas[key].name}}</h3>
                        <img src = {{datas[key].url}} alt = {{datas[key].name}}>
                        <br>
                        <button><a href= "/play/{{key}}">遊ぶ</a></button>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </main>
        <footer>
            <hr>
            <p>&copy;saki</p>
        </footer>
    </body>
</html>