<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <title>アップロード</title>
        <link rel = "stylesheet" href="./static/css/style.css">
    </head>
    <body>
        <header>
            <a href = "./"><h1>Puzzle Maker</h1></a>
            <nav>
                <ol>
                    <a href="./mypage"><li>マイページ</li></a>
                    <!--a href="./logout"><li>ログアウト</li></a>
                    <a href="./login"><li>ログイン</li></a-->                    
                </ol>
            </nav>
            <hr>
        </header>
        <main>
            <div class = "container">
                <form action = "./makepuzzle" method="POST" enctype = "multipart/form-data" class = "formFrame">
                    <p>
                        パズルで遊びたい画像を選択してください
                    </p>
                    <div class="form-item">
                        <label for = "name">パズル名</label>
                        <input type = "name" name = "name" class = "name">                    
                    </div>
                    <div class = "form-item">
                        <label for = "example">ファイル</label>
                        <input type = "file" name = "file"  accept="image/*">
                    </div>
                    <div class="form-item">
                        <label>サイズ</label>
                        <input type = "number"  name = "size" min="2" max="10">
                    </div>
                    <div class= "form-item">
                        <input type = "submit" name = "送信" class="submit">
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <hr>
            <p>&copy;saki</p>
        </footer>
    </body>
</html>